.maximize_button {
   border: 1px solid #64666a !important;
}
.minimize_button {
   border: 1px solid #64666a !important;
}
.mae_control_popup {
   border: 1px solid #64666a !important;
}

.elementor-control-custom_css.mae_control_popup .elementor-input-style:not(:focus),
.elementor-control-html.mae_control_popup .elementor-input-style:not(:focus),
.elementor-control-custom_html.mae_control_popup .elementor-input-style:not(:focus),
.elementor-control-custom_php_skin_php_code.mae_control_popup .elementor-input-style:not(:focus),
.elementor-control-custom_php_code.mae_control_popup .elementor-input-style:not(:focus) {
   border: 1px solid transparent !important;   

}
.elementor-control-custom_css.mae_control_popup .elementor-control-content,
.elementor-control-html.mae_control_popup .elementor-control-content,
.elementor-control-custom_html.mae_control_popup .elementor-control-content,
.elementor-control-custom_php_skin_php_code.mae_control_popup .elementor-control-content,
.elementor-control-custom_php_code.mae_control_popup .elementor-control-content {
   border: 1px solid #64666a !important;
}